<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${hello}">hello</title>
</head>
<body>
	<h1 th:text="${hello}">world</h1>
	<table>
		<tr>
			<th>截图ID</th>
			<th>截图名称</th>
			<th>源视频</th>
			<th>格式</th>
			<th>保存位置</th>
			<th>操作</th>
		</tr>
		<tr th:each="his : ${hislist}">
			<td th:text="${his.id}">0</td>
			<td th:text="${his.cameraid}">zhansan</td>
			<td th:text="${his.src}">1988-06-01</td>
			<td th:text="${his.fmt}">12345</td>
			<td th:text="${his.out}">1988-06-01</td>
			<td><a th:href="'view?id='+${his.id}" target="_blank">查看截图</a></td>
		</tr>
	</table>
</body>
</html>