<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${hello}">hello</title>
</head>
<body>
	<h1 th:text="${hello}">world</h1>
	<table>
		<tr>
			<th>录像ID</th>
			<th>源视频</th>
			<th>录像保存位置</th>
			<th>录像播放地址</th>
			<th>操作</th>
		</tr>
		<tr th:each="record: ${list}">
			<td th:text="${record.id}">0</td>
			<td th:text="${record.src}">视频源地址为空</td>
			<td th:text="${record.out}">保存位置为空</td>
			<td th:text="${record.playurl}">播放地址为空</td>
			<td><a th:href="'play?id='+${record.id}" target="_blank">播放录像（点播）</a></td>
		</tr>
	</table>
</body>
</html>